<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hds.ssm.dao.ManagerDao">

    <select id="GetManager" resultType="com.hds.ssm.model.Manager">
        select * from manager_info
    </select>
    <select id="GetManager2" resultType="com.hds.ssm.model.Manager">
       select m.id id ,m.name ,p.address Project
        from manager_info m left join project_info p on(m.id=p.admin_id)
    </select>
    <select id="FindManager" resultType="com.hds.ssm.model.Manager">
       select m.id,m.name,Sex,id_Num,In_time,Phone_Num,p.name 'project'
        from manager_info m left join project_info p on(m.id=p.admin_id)
        where m.id=#{id}
    </select>
    <delete id="DelManager" >
        DELETE FROM manager_info WHERE id=#{id}
    </delete>
    <update id="editManagerInfo">
        update manager_info set
        <if test="name!=null">name = #{name},</if>
        <if test="idNum!=null">Id_Num = #{idNum},</if>
        <if test="phoneNum!=null">Phone_Num=#{phoneNum}</if>
        where id = #{id};
        <if test="name!=null">update user set user_name = #{name} where id =#{id}</if>
    </update>
</mapper>