<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hds.ssm.dao.ParkingRecordDao">
    <select id="getParkingRecord" resultType="com.hds.ssm.model.ParkingRecord">
        SELECT
            a.id,
            a.plate_number,
            in_time,
            out_time,
            combo_name,
            c.name as project_name
        FROM
            parking_record a
        LEFT JOIN purchase_record b ON (
            a.plate_number = b.plate_number
        )
        LEFT JOIN pay_combo p ON (b.combo_id = p.combo_id)
        left join project_info  c on (a.project_id=c.id)
        where del_flag=0
            <if test="state!=0">
                <if test="state==1">and out_time is null </if>
                <if test="state==2">and out_time is not null</if>
            </if>
            <if test="start_date!= null">
                and in_time &gt;=#{start_date}
            </if>
            <if test="end_date!=null">
                and out_time &lt;=#{end_date}
            </if>

    </select>

    <select id="getPortRecordOut" resultType="com.hds.ssm.model.PortRQ">
        SELECT plate_number,in_time,out_time,read_in_time,read_out_time
        FROM parking_record
        <if test="projectId!=null">
            where project_id=#{projectId}
        </if>
        ORDER BY read_out_time DESC
        LIMIT 0,1
    </select>
    <select id="getPortRecordIn" resultType="com.hds.ssm.model.PortRQ">
        SELECT id,project_id,plate_number,in_time,out_time,read_in_time,read_out_time
        FROM parking_record
        <if test="projectId!=null">
            where project_id=#{projectId}
        </if>
        ORDER BY read_in_time DESC
        LIMIT 0,1
    </select>
    <update id="alterPortPlateNum">
        UPDATE P
    </update>
</mapper>