<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hds.ssm.dao.ParkingRecordDao">
    <select id="getParkingRecord" resultType="com.hds.ssm.model.ParkingRecord">
        SELECT
            a.id,
            a.plate_number,
            in_time,
            out_time,
            combo_name,
            c.name as project_name
        FROM
            parking_record a
        LEFT JOIN purchase_record b ON (
            a.plate_number = b.plate_number
        )
        LEFT JOIN pay_combo p ON (b.combo_id = p.combo_id)
        left join project_info  c on (a.project_id=c.id)
        where del_flag=0
            <if test="state!=0">
                <if test="state==1">and out_time is null </if>
                <if test="state==2">and out_time is not null</if>
            </if>
            <if test="start_date!= null">
                and in_time &gt;=#{start_date}
            </if>
            <if test="end_date!=null">
                and in_time &lt;=#{end_date}
            </if>

    </select>
    <select id="getParkingRecordById" resultType="com.hds.ssm.model.ParkingRecord">
        SELECT *
        FROM parking_record
        WHERE id = #{id}
    </select>
    <select id="getParkingRecordByProjectId" resultType="com.hds.ssm.model.ParkingRecord">
        SELECT *
        FROM parking_record
        WHERE project_id =#{projectId}
        <if test="plateNumber!=null">
            and plate_number like '%${plateNumber}%'
        </if>
        <if test="startDate!=null">
            and in_time &gt;=#{startDate}
        </if>
        <if test="endDate!=null">
            and in_time &lt;#{endDate}
        </if>
        AND del_flag =0
    </select>
    <select id="excelGtParkingRecordByProjectId" resultType="com.hds.ssm.model.ParkingRecordExcel">
        SELECT *
        FROM parking_record
        <where >
            <if test="projectId!=null">
                project_id =#{projectId}</if>
            <if test="startDate!=null">
                and in_time &gt;=#{startDate}
            </if>
            <if test="endDate!=null">
                and in_time &lt;=#{endDate}
            </if>
            AND del_flag =0
        </where>

    </select>



    <select id="getPortRecordOut" resultType="com.hds.ssm.model.PortRQ">
        SELECT id,project_id,plate_number,in_time,out_time,read_in_time,read_out_time,src_img as 'imgSrc'
        FROM parking_record
        <if test="projectId!=null">
            where project_id=#{projectId}
        </if>
        ORDER BY read_out_time DESC
        LIMIT 0,1
    </select>
    <select id="getPortRecordIn" resultType="com.hds.ssm.model.PortRQ">
        SELECT id,project_id,plate_number,in_time,out_time,read_in_time,read_out_time,src_img as 'imgSrc'
        FROM parking_record
        <if test="projectId!=null">
            where project_id=#{projectId}
        </if>
        ORDER BY read_in_time DESC
        LIMIT 0,1
    </select>
    <select id="findOutTimeById" resultType="java.util.Date">
        SELECT out_time
        FROM parking_record
        WHERE id=#{id}
    </select>

    <select id="getFreeParking" resultType="int">
        select manage_num-inNum
        from (
            select count(id) inNum
            from parking_record
            where out_time is NULL
            and project_id = #{projectId})a ,project_info
        where id = #{projectId}
    </select>

    <select id="getLogOpenRecord" resultType="com.hds.ssm.model.OpenPortRecord">
        select a.id,manager_id,reason,plate_number,out_time
        from log_open_port a left join parking_record b on(a.id=b.id)
        where  b.project_id=#{projectId}
    </select>

    <select id="getCarFlow" resultType="com.hds.ssm.model.carFlowRP">
        select count(*) as carNum,DATE_FORMAT(in_time,'%Y%m') as  time from parking_record
        where in_time>DATE_SUB(CURDATE(), INTERVAL 5 MONTH)
        group by  DATE_FORMAT(in_time,'%Y%m')
    </select>



    <update id="alterPortPlateNum">
        UPDATE parking_record SET plate_number = #{plateNum} WHERE id = #{id}
    </update>
    <update id="openPort">
        INSERT INTO log_open_port (id,manager_id,reason) value (#{id},#{managerId},#{reason})
    </update>
    <update id="updateParkingRecord">
        UPDATE parking_record SET
        <if test="inTime!=null">
            in_time = #{inTime},
        </if>
        <if test="readOutTime!=null">
            read_out_time = #{readOutTime},
        </if>
        <if test="outTime !=null">
            out_time = #{outTime}
        </if>
        where id =#{id}
    </update>

    <update id="deleteParkingRecord">
      UPDATE parking_record SET del_flag = 1 where id = #{parkingRecordId}
    </update>

    <insert id="insertParkingRecord">
        INSERT  INTO parking_record (project_id,plate_number,in_time,del_flag) values(#{projectId},#{plateNumber},#{inTime},0)
    </insert>
</mapper>