<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hds.ssm.dao.ProjectDao" >

    <select id="selectProject" resultType="com.hds.ssm.model.Project">
        SELECT
          id, name, address, opentime ,area ,total_num, manage_num, state,admin_id
        FROM
          project_info
    </select>
</mapper>
