<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hds.ssm.dao.ProjectDao" >
    <select id="getAllProject" resultType="com.hds.ssm.model.Project">
        SELECT id,name
        from project_info
    </select>
    <select id="selectProject" resultType="com.hds.ssm.model.Project">
        SELECT
           p.id,p.name, address, opentime ,area ,total_num, manage_num, state,m.name "managername"
        FROM
          project_info p left JOIN manager_info m on(p.admin_id=m.id)
    </select>
    <select id="getEmptyProject" resultType="com.hds.ssm.model.Project">
        SELECT
          id,name
        FROM project_info
        Where admin_id=0
    </select>
    <select id="findProject" resultType="com.hds.ssm.model.Project">
        SELECT
           p.id,p.name, address, opentime ,area ,total_num, manage_num, state,m.name "managername"
        FROM
          project_info p left JOIN manager_info m on(p.admin_id=m.id)
        Where p.name=#{name}
    </select>
    <select id="findProjectById" resultType="com.hds.ssm.model.Project">
        SELECT
          *
        FROM project_info
        where id=#{id}
    </select>

    <insert id="addProject">
        INSERT INTO project_info (`name`, `address`, `opentime`, `area`, `total_num`, `manage_num`, `state`, `admin_id`)
        VALUES (#{name},#{address},#{opentime},#{area},#{total_num},#{manage_num},#{state},#{admin_id});
    </insert>
    <update id="clearProject">
        UPDATE project_info SET admin_id=0 where admin_id=#{admin_id}
    </update>
    <update id="alterProject">
        UPDATE project_info SET admin_id=#{admin_id} where id=#{project}
    </update>
</mapper>
