<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hds.ssm.dao.PurchaseDao">
    <select id="getPurchaseMonth" resultType="com.hds.ssm.model.PurchaseRP">
      SELECT
        count(*) as 'purchaseCount',
        month(pay_time) as 'month'
        FROM
            purchase_record
        group by month(pay_time)
        order by month(pay_time)
    </select>
</mapper>
