<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hds.ssm.dao.UserDao" >

    <select id="selectUsers" resultType="com.hds.ssm.model.User">
        SELECT
          id,name,password
        FROM
          user
    </select>
    <select id="findUser" resultType="com.hds.ssm.model.User">
        SELECT*
        FROM
          user
        WHERE name = #{name}
    </select>
    <select id="addUser" resultType="com.hds.ssm.model.User">
        insert into user(id,name,password) values(#{id},#{name},#{password})
    </select>

    <select id="getUserTypeById" resultType="com.hds.ssm.model.UserRole">
      SELECT `user`.id as id,user_type,`name`
      FROM user_role ,`user`
      where user_role.id = `user`.id
      AND user_role.id=#{id}
    </select>

</mapper>
